<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find mobile_manipulator_gazebo_sim)/urdf/controls.xacro"/>
    <xacro:include filename="$(find mobile_manipulator_gazebo_sim)/urdf/sensors.xacro"/>

    <xacro:property name="ns" value="${'$(arg namespace)' != '' and '$(arg namespace)'.rstrip('/') or ''}"/>
    <xacro:property name="prefix" value="${ns != '' and ns + '/' or ''}"/>

    <xacro:diff_drive_controller prefix="${prefix}"/>
    <!-- <xacro:odometry_publisher prefix="${prefix}"/> -->

    <xacro:lidar target="${prefix}lidar_front"/>
    <xacro:lidar target="${prefix}lidar_rear"/>

    <xacro:femto_bolt target="${prefix}camera_top"/>

    <xacro:gemini2 target="${prefix}camera_front"/>
    <xacro:gemini2 target="${prefix}camera_left"/>
    <xacro:gemini2 target="${prefix}camera_right"/>
</robot>
