<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>

    <xacro:macro name="lidar" params="target">
        <!-- rplidar s3 -->
        <xacro:property name="update_rate" value="10"/>
        <xacro:property name="samples_per_update" value="3200"/>
        <xacro:property name="range_min" value="0.05"/>
        <xacro:property name="range_max" value="40.0"/>
        <xacro:property name="accuracy" value="0.03"/>
        <xacro:property name="resolution" value="0.01"/>

        <gazebo reference="${target}">
            <sensor name="${target}_gpu_lidar" type="gpu_lidar">
                <pose relative_to="${target}">0 0 0 0 0 0</pose>

                <topic>${target}/scan</topic>
                <gz_frame_id>${target}</gz_frame_id>
                <update_rate>${update_rate}</update_rate>

                <lidar>
                    <scan>
                        <horizontal>
                            <samples>${samples_per_update}</samples>
                            <resolution>1</resolution>
                            <min_angle>${radians(-180)}</min_angle>
                            <max_angle>${radians(180)}</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>${range_min}</min>
                        <max>${range_max}</max>
                        <resolution>${resolution}</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>${accuracy}</stddev>
                    </noise>
                </lidar>

                <always_on>true</always_on>
                <visualize>true</visualize>
            </sensor>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="femto_bolt" params="target">
        <!-- orbbec femto bolt -->
         <xacro:property name="fps" value="30"/>

        <xacro:property name="color_fov" value="80"/>
        <xacro:property name="color_image_width" value="1920"/>
        <xacro:property name="color_image_height" value="1080"/>
        
        <!-- NFOV binned -->
        <xacro:property name="depth_fov" value="75"/>
        <xacro:property name="depth_image_width" value="320"/>
        <xacro:property name="depth_image_height" value="288"/>
        <xacro:property name="depth_range_min" value="0.5"/>
        <xacro:property name="depth_range_max" value="5.46"/>
        <xacro:property name="depth_accuracy" value="0.0017"/>

        <gazebo reference="${target}_base_link">
            <sensor name="${target}_camera" type="camera">
                <pose relative_to="${target}_color_frame">0 0 0 0 0 0</pose>

                <topic>${target}/color/image_raw</topic>
                <camera_info_topic>${target}/color/camera_info</camera_info_topic>
                <gz_frame_id>${target}_color_optical_frame</gz_frame_id>
                <update_rate>${fps}</update_rate>

                <camera>
                    <horizontal_fov>${radians(color_fov)}</horizontal_fov>
                    <image>
                        <width>${color_image_width}</width>
                        <height>${color_image_height}</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>100</far>
                    </clip>
                </camera>

                <always_on>true</always_on>
                <visualize>true</visualize>
            </sensor>

            <sensor name="${target}_depth_camera" type="depth">
                <pose relative_to="${target}_depth_frame">0 0 0 0 0 0</pose>

                <topic>${target}/depth/image_raw</topic>
                <camera_info_topic>${target}/depth/camera_info</camera_info_topic>
                <gz_frame_id>${target}_depth_optical_frame</gz_frame_id>
                <update_rate>${fps}</update_rate>

                <camera>
                    <horizontal_fov>${radians(depth_fov)}</horizontal_fov>
                    <image>
                        <width>${depth_image_width}</width>
                        <height>${depth_image_height}</height>
                        <!-- always R_FLOAT32 -->
                        <!-- ref: https://github.com/gazebosim/gz-sensors/blob/gz-sensors10/src/DepthCameraSensor.cc#L582 -->
                        <format>R_FLOAT32</format>
                    </image>
                    <clip>
                        <near>${depth_range_min}</near>
                        <far>${depth_range_max}</far>
                    </clip>
                    <noise>
						<type>gaussian</type>
						<mean>0</mean>
						<stddev>${depth_accuracy}</stddev>
					</noise>
                </camera>

                <always_on>true</always_on>
                <visualize>true</visualize>
            </sensor>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="gemini2" params="target">
        <!-- orbbec gemini2 -->
         <xacro:property name="fps" value="60"/>

        <xacro:property name="color_fov" value="86"/>
        <xacro:property name="color_image_width" value="640"/>
        <xacro:property name="color_image_height" value="480"/>
        
        <!-- unbinned dense default -->
        <xacro:property name="depth_fov" value="91"/>
        <xacro:property name="depth_image_width" value="640"/>
        <xacro:property name="depth_image_height" value="400"/>
        <xacro:property name="depth_range_min" value="0.15"/>
        <xacro:property name="depth_range_max" value="10"/>
        <xacro:property name="depth_accuracy" value="0.02"/>

        <gazebo reference="${target}">
            <sensor name="${target}_camera" type="camera">
                <!-- wrong convection for color non-optical frame, have to rotate here, but infra1,
                 infra2 and depth frames are all correct -->
                <!-- ref: PEP 103: https://www.ros.org/reps/rep-0103.html#suffix-frames -->
                <pose relative_to="${target}_color_frame">0 0 0 ${radians(90)} ${radians(-90)} 0</pose>

                <topic>${target}/color/image_raw</topic>
                <camera_info_topic>${target}/color/camera_info</camera_info_topic>
                <gz_frame_id>${target}_color_optical_frame</gz_frame_id>
                <update_rate>${fps}</update_rate>

                <camera>
                    <horizontal_fov>${radians(color_fov)}</horizontal_fov>
                    <image>
                        <width>${color_image_width}</width>
                        <height>${color_image_height}</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>100</far>
                    </clip>
                </camera>

                <always_on>true</always_on>
                <visualize>true</visualize>
            </sensor>

            <sensor name="${target}_infra_camera1" type="camera">
                <pose relative_to="${target}_infra1_frame">0 0 0 0 0 0</pose>

                <topic>${target}/infra1/image_raw</topic>
                <camera_info_topic>${target}/infra1/camera_info</camera_info_topic>
                <gz_frame_id>${target}_infra1_optical_frame</gz_frame_id>
                <update_rate>${fps}</update_rate>

                <camera>
                    <horizontal_fov>${radians(color_fov)}</horizontal_fov>
                    <image>
                        <width>${depth_image_width}</width>
                        <height>${depth_image_height}</height>
                        <format>L8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>100</far>
                    </clip>
                </camera>

                <always_on>true</always_on>
                <visualize>true</visualize>
            </sensor>

            <sensor name="${target}_infra_camera2" type="camera">
                <pose relative_to="${target}_infra2_frame">0 0 0 0 0 0</pose>

                <topic>${target}/infra2/image_raw</topic>
                <camera_info_topic>${target}/infra2/camera_info</camera_info_topic>
                <gz_frame_id>${target}_infra2_optical_frame</gz_frame_id>
                <update_rate>${fps}</update_rate>

                <camera>
                    <horizontal_fov>${radians(color_fov)}</horizontal_fov>
                    <image>
                        <width>${depth_image_width}</width>
                        <height>${depth_image_height}</height>
                        <format>L8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>100</far>
                    </clip>
                </camera>

                <always_on>true</always_on>
                <visualize>true</visualize>
            </sensor>

            <sensor name="${target}_depth_camera" type="depth">
                <pose relative_to="${target}_depth_frame">0 0 0 0 0 0</pose>

                <topic>${target}/depth/image_raw</topic>
                <camera_info_topic>${target}/depth/camera_info</camera_info_topic>
                <gz_frame_id>${target}_depth_optical_frame</gz_frame_id>
                <update_rate>${fps}</update_rate>

                <camera>
                    <horizontal_fov>${radians(depth_fov)}</horizontal_fov>
                    <image>
                        <width>${depth_image_width}</width>
                        <height>${depth_image_height}</height>
                        <!-- always R_FLOAT32 -->
                        <!-- ref: https://github.com/gazebosim/gz-sensors/blob/gz-sensors10/src/DepthCameraSensor.cc#L582 -->
                        <format>R_FLOAT32</format>
                    </image>
                    <clip>
                        <near>${depth_range_min}</near>
                        <far>${depth_range_max}</far>
                    </clip>
                    <noise>
						<type>gaussian</type>
						<mean>0</mean>
						<stddev>${depth_accuracy}</stddev>
					</noise>
                </camera>

                <always_on>true</always_on>
                <visualize>true</visualize>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>
