/**:
  lidar_front:
    laser_filter:
      ros__parameters:
        filter1:
          name: angle
          type: laser_filters/LaserScanAngularBoundsFilterInPlace
          params:
            lower_angle: -0.785
            upper_angle: 0.785
        filter2:
          name: range
          type: laser_filters/LaserScanRangeFilter
          params:
            lower_threshold: 0.25
            upper_threshold: .inf

  lidar_rear:
    laser_filter:
      ros__parameters:
        filter1:
          name: angle
          type: laser_filters/LaserScanAngularBoundsFilterInPlace
          params:
            lower_angle: -0.785
            upper_angle: 0.785
        filter2:
          name: range
          type: laser_filters/LaserScanRangeFilter
          params:
            lower_threshold: 0.25
            upper_threshold: .inf

  dual_laser_merger:
    ros__parameters:
      laser_1_topic: lidar_front/scan_filtered
      laser_2_topic: lidar_rear/scan_filtered
      merged_scan_topic: scan
      target_frame: lidar_merged

      scan_time: 0.1

  # ref: https://github.com/SteveMacenski/slam_toolbox/tree/ros2?tab=readme-ov-file#configuration
  slam_toolbox:
    ros__parameters:
      mode: localization

      scan_topic: scan
      map_frame: map
      odom_frame: odom
      base_frame: base_footprint
      transform_publish_period: 0.1

      use_map_saver: false
      resolution: 0.05
      map_update_interval: 1.0

      minimum_travel_distance: 0.05
      minimum_travel_heading: 0.1

  # ref: https://nvidia-isaac-ros.github.io/repositories_and_packages/isaac_ros_mapping_and_localization/isaac_ros_visual_global_localization/index.html#ros-parameters
  visual_localization_node:
    ros__parameters:
      num_cameras: 2
      enable_continuous_localization: false

      publish_map_to_base_tf: false
      map_frame: map
      base_frame: base_footprint

  # ref: https://nvidia-isaac-ros.github.io/repositories_and_packages/isaac_ros_visual_slam/isaac_ros_visual_slam/index.html#ros-parameters
  visual_slam_node:
    ros__parameters:
      num_cameras: 2
      rectified_images: false

      publish_map_to_odom_tf: true
      publish_odom_to_base_tf: true
      map_frame: map
      odom_frame: odom
      base_frame: base_footprint

      enable_localization_n_mapping: true
      enable_ground_constraint_in_odometry: true
      enable_ground_constraint_in_slam: true
      enable_imu_fusion: false

  # ref: https://nvidia-isaac-ros.github.io/repositories_and_packages/isaac_ros_nvblox/isaac_ros_nvblox/api/parameters.html
  nvblox_node:
    ros__parameters:
      num_cameras: 3
      voxel_size: 0.05
      global_frame: map

      esdf_mode: "2d"
      use_color: true
      use_depth: true
      use_lidar: false # requires 3d lidar
      use_segmentation: false
      use_tf_transforms: true

      # visualization
      publish_esdf_distance_slice: true
      esdf_slice_bounds_visualization_attachment_frame_id: base_footprint
      esdf_slice_bounds_visualization_side_length: 10.0
      workspace_height_bounds_visualization_attachment_frame_id: base_footprint
      workspace_height_bounds_visualization_side_length: 10.0
      layer_visualization_min_tsdf_weight: 0.1
      layer_visualization_exclusion_height_m: 2.0
      layer_visualization_exclusion_radius_m: 10.0
      layer_streamer_bandwidth_limit_mbps: -1.0 # unlimited

      # map clearing
      map_clearing_frame_id: base_footprint
      map_clearing_radius_m: 10.0

      mapping_type: static_tsdf

      static_mapper:
        esdf_slice_min_height: 0.0
        esdf_slice_max_height: 1.5
