<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="instantiate" default="true"/>
    <xacro:arg name="namespace" default=""/>
    <xacro:arg name="extra_xacro" default="$(find mobile_manipulator_description)/urdf/empty.xacro"/>

    <xacro:include filename="$(find mobile_manipulator_description)/urdf/frame.xacro"/>
    <xacro:include filename="$(find mobile_manipulator_description)/urdf/sensors.xacro"/>
    <xacro:include filename="$(find mobile_manipulator_description)/urdf/robots.xacro"/>

    <xacro:macro name="mobile_manipulator" params="prefix">
        <xacro:tracer prefix="${prefix}"/>

        <xacro:frame prefix="${prefix}" parent="${prefix}base_link">
            <origin xyz="0 0 0.016" rpy="0 0 0"/>
        </xacro:frame>

        <xacro:piper prefix="${prefix}piper_"/>
        <joint name="${prefix}piper_joint" type="fixed">
            <origin xyz="0.37 0 0.714" rpy="0 0 0"/>
            <parent link="${prefix}frame"/>
            <child link="${prefix}piper_base_link"/>
        </joint>

        <xacro:lidar name="${prefix}lidar_front" parent="${prefix}frame">
            <origin xyz="0.144 0 0.15" rpy="${radians(180)} 0 ${radians(180)}"/>
        </xacro:lidar>
        <xacro:lidar name="${prefix}lidar_rear" parent="${prefix}frame">
            <origin xyz="-0.144 0 0.15" rpy="${radians(180)} 0 0"/>
        </xacro:lidar>

        <xacro:gemini2 name="${prefix}camera_front" parent="${prefix}frame">
            <origin xyz="0.155 0 0.453" rpy="${radians(180)} 0 0"/>
        </xacro:gemini2>
        <xacro:gemini2 name="${prefix}camera_left" parent="${prefix}frame">
            <origin xyz="0 0.115 0.453" rpy="${radians(180)} 0 ${radians(90)}"/>
        </xacro:gemini2>
        <xacro:gemini2 name="${prefix}camera_right" parent="${prefix}frame">
            <origin xyz="0 -0.115 0.453" rpy="${radians(180)} 0 ${radians(-90)}"/>
        </xacro:gemini2>

        <xacro:femto_bolt prefix="${prefix}camera_top" parent="${prefix}frame">
            <origin xyz="-0.16 0 1.336" rpy="0 0 0"/>
        </xacro:femto_bolt>
    </xacro:macro>

    <xacro:if value="$(arg instantiate)">
        <xacro:property name="ns" value="${'$(arg namespace)' != '' and '$(arg namespace)'.rstrip('/') or ''}"/>
        <xacro:property name="prefix" value="${ns != '' and ns + '/' or ''}"/>

        <xacro:mobile_manipulator prefix="${prefix}"/>

        <!-- additional definitions -->
        <xacro:include filename="$(arg extra_xacro)"/>
    </xacro:if>
</robot>
