# ref: https://docs.nav2.org/configuration/index.html

/**:
  behavior_server:
    ros__parameters:
      global_costmap_topic: global_costmap/costmap_raw
      local_costmap_topic: local_costmap/costmap_raw
      robot_base_frame: base_footprint
      local_frame: odom
      global_frame: odom

      behavior_plugins: [spin, backup, drive_on_heading, wait]
      spin:
        plugin: nav2_behaviors::Spin
      backup:
        plugin: nav2_behaviors::BackUp
      drive_on_heading:
        plugin: nav2_behaviors::DriveOnHeading
      wait:
        plugin: nav2_behaviors::Wait

  bt_navigator:
    ros__parameters:
      robot_base_frame: base_footprint
      odom_topic: odom
      global_frame: odom

      navigators: [navigate_to_pose, navigate_through_poses]
      navigate_to_pose:
        plugin: nav2_bt_navigator::NavigateToPoseNavigator
      navigate_through_poses:
        plugin: nav2_bt_navigator::NavigateThroughPosesNavigator

  planner_server:
    ros__parameters:
      expected_planner_frequency: 3.0

      planner_plugins: [GridBased]
      GridBased:
        plugin: nav2_smac_planner::SmacPlannerHybrid
        tolerance: 0.3
        minimum_turning_radius: 0.2
        smooth_path: true

  global_costmap:
    global_costmap:
      ros__parameters:
        update_frequency: 1.0
        publish_frequency: 1.0
        always_send_full_costmap: false

        robot_base_frame: base_footprint
        global_frame: odom
        # 0.685 * 0.57
        footprint: "[[0.35, 0.29], [-0.35, 0.29], [-0.35, -0.29], [0.35, -0.29]]"

        resolution: 0.05
        track_unknown_space: true
        # default when no map is specified

        width: 60
        height: 60
        origin_x: -30.0
        origin_y: -30.0

        plugins: [nvblox_layer, inflation_layer]
        nvblox_layer:
          plugin: nvblox::nav2::NvbloxCostmapLayer
          nav2_costmap_global_frame: odom
          nvblox_map_slice_topic: /nvblox_node/static_map_slice
        inflation_layer:
          plugin: nav2_costmap_2d::InflationLayer
          cost_scaling_factor: 10.0
          inflation_radius: 0.8

  controller_server:
    ros__parameters:
      controller_frequency: 20.0
      enable_stamped_cmd_vel: true

      progress_checker_plugins: [progress_checker]
      progress_checker:
        plugin: nav2_controller::SimpleProgressChecker

      goal_checker_plugins: [stopped_goal_checker]
      stopped_goal_checker:
        plugin: nav2_controller::StoppedGoalChecker
        trans_stopped_velocity: 0.1
        rot_stopped_velocity: 0.1
        xy_goal_tolerance: 0.25
        yaw_goal_tolerance: 0.25

      controller_plugins: [FollowPath]
      FollowPath:
        plugin: nav2_mppi_controller::MPPIController
        motion_model: DiffDrive
        model_dt: 0.05
        vx_min: -0.3
        vx_max: 0.5
        wz_max: 1.5
        ax_min: -3.0
        ax_max: 3.0
        az_max: 3.5

        batch_size: 2000
        vx_std: 0.2
        wz_std: 0.6

        visualize: false
        publish_optimal_trajectory: true

        critics:
          - ConstraintCritic
          - GoalCritic
          - GoalAngleCritic
          - PathAlignCritic
          - PathFollowCritic
          - PathAngleCritic
          - PreferForwardCritic

  local_costmap:
    local_costmap:
      ros__parameters:
        update_frequency: 5.0
        publish_frequency: 2.0
        always_send_full_costmap: True

        robot_base_frame: base_footprint
        global_frame: odom
        # 0.685 * 0.57
        footprint: "[[0.35, 0.29], [-0.35, 0.29], [-0.35, -0.29], [0.35, -0.29]]"

        rolling_window: true
        width: 6
        height: 6
        resolution: 0.05

        plugins: [nvblox_layer, inflation_layer]
        nvblox_layer:
          plugin: nvblox::nav2::NvbloxCostmapLayer
          nav2_costmap_global_frame: odom
          nvblox_map_slice_topic: /nvblox_node/static_map_slice
        inflation_layer:
          plugin: nav2_costmap_2d::InflationLayer
          enabled: True
          cost_scaling_factor: 10.0
          inflation_radius: 0.8
